{$OPENCODE_REMOTE_DOMAIN} {
  basicauth /* {
    {$OPENCODE_REMOTE_BASIC_AUTH_USER} {$OPENCODE_REMOTE_BASIC_AUTH_PASSWORD_HASH}
  }
  reverse_proxy 127.0.0.1:{$OPENCODE_PORT}
}

frp.{$OPENCODE_REMOTE_DOMAIN} {
  reverse_proxy /rpc* 127.0.0.1:{$FRP_PANEL_RPC_PORT}
  reverse_proxy 127.0.0.1:{$FRP_PANEL_API_PORT}
}
